<%- include("../partials/header"); %>
    <div class="container mb-5">
        <h2 class="text-center my-4 text-capitalize">Agregar nueva noticia</h2>
        <div class="row d-flex justify-content-center ">
            <div class="col-md-10">
                <div class="card card-body">
                  <form action="/crear-noticias" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="titulo">Titulo:</label>
                        <input required name="titulo"  type="text" class="form-control" id="titulo" placeholder="Escribe el titulo de la noticia">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="subtitulo">Subtitulo:</label>
                        <input required name="subtitulo"  type="text" class="form-control" id="subtitulo" placeholder="Subtitulo de la noticia">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="autor">Autor:</label>
                            <select id="autor" class="form-control"  required name="autor">
                                <option value=""  selected disabled>-- Seleciona un Autor --</option>
                                <% autores.forEach(autor => { %>
                                <option value=<%= autor._id %>  ><%= autor.nombre %></option>
                                <%}) %>
                            </select>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="categoria">Categoria:</label>
                        <input  required name="categoria" type="text" class="form-control" id="categoria" placeholder="Categoria de la noticia">
                          </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="fecha">Fecha:</label>
                          <input  required name="fecha" type="date" class="form-control" id="fecha">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="imagen">Imagen:</label>
                          <input  required name="imagen" type="file" accept=".png,.jpg,.jpeg" class="form-control" id="imagen" >
                      </div>
                      <div class="form-group col-md-12">
                        <label for="descripcion" class="text-white">Descripcion</label>
                        <textarea name="descripcion" placeholder="Descripcion de la noticia..." class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="mt-5">
                    <button type="submit" class="btn btn-success btn-block">Crear Noticia  <i class="fas fa-newspaper"></i> </button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
